<div class="row">
  <div class="col-md-8 col-lg-offset-2">
    <h1>Editing block</h1>

    <%= simple_form_for @block, url: {action: @action}, html: {role: 'form'} do |f| %>
        <%= f.input :title %>
        <%= f.input :active, as: :select %>
        <%= f.input :content %>

        <% if @block.blockable %>
            <div class="form-group text optional block_content">
              <label class="text optional control-label" for="block_content">Type</label>
              <p class="form-control-static"><%= @block.blockable_type %></p>
            </div>
            <%= f.hidden_field :blockable_type %>

        <% else %>
            <%= f.input :blockable_type, :collection => ['Post', 'Project'], :id => 'blocktype' %>
        <% end %>

        <% if @block.block_images.count > 0 %>
            <h3>Current Images</h3>
            <% @block.block_images.each do |i| %>
                <%= image_tag i.image.url(:medium) %>
            <% end %>
        <% end %>

        <h3>Upload Images</h3>
        <%= f.nested_fields_for :block_images, BlockImage.new do |b| %>
            <%= b.input :image, label: false %>
        <% end %>

        <%= f.add_nested_fields_link :block_images %>

        <h3>Edit Block content</h3>

        <% if @block.blockable %>
            <%= render @block.blockable_type.downcase, f: f, block: @block.blockable %>
        <% else %>
            <div data-type="post" class="form-part">
              <%= render 'post', f: f, block: Post.new %>
            </div>
            <div data-type="project" class="form-part">
              <%= render 'project', f: f, block: Project.new %>
            </div>
        <% end %>

        <%= f.button :submit %>

    <% end %>
  </div>
</div>

<% parent_layout "admin" %>